<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration     
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"     
    "http://mybatis.org/dtd/mybatis-3-config.dtd"> 
<configuration>
    <typeAliases>  <!--typeAliases这个属性写在最前面 给实体类起一个别名  -->  
        <!--        <typeAlias type="com.bls.bean.UserBean" alias="userBean"/>	-->
    </typeAliases>	
    <!--数据源配置,  用mysql数据库，Druid数据库 -->  
    <environments default="development">  
        <environment id="development">  
            <transactionManager type="jdbc" />  
            <dataSource type="cn.tzauto.octopus.common.dataAccess.base.druid.DruidDataSourceFactory">
<!--            <dataSource type="cn.tfinfo.jcauto.octopus.common.dataAccess.base.druid.DruidDataSourceFactory">  -->
                <!-- 这是 JDBC 连接对象的数据源连接池的实现,用来避免创建新的连接实例时必要的初始连接和认证时间。这是一种当前 Web 应用程序用来快速响应请求很流行的方 法。 -->
                <!--           16 <dataSource type="POOLED">  -->
                <property name="driver" value="com.mysql.jdbc.Driver" />
<!--                <property name="url" value="jdbc:mysql://localhost:3306/octopus?characterEncoding=utf-8&amp;autoReconnect=true" />-->

                <!--<property name="url" value="jdbc:mysql://172.17.37.4:3306/octopus?characterEncoding=utf-8" />-->
                <property name="url" value="jdbc:mysql://localhost:3306/octopus?characterEncoding=utf-8&amp;autoReconnect=true" />
                <property name="username" value="root" />
                <property name="password" value="" />
                <!--                <property name="initialSize" value="1" />
                <property name="minIdle" value="1" />
                <property name="maxActive" value="20" />
                <property name="maxWait" value="60000" />
                <property name="validationQuery" value="select now()" />
                <property name="testWhileIdle" value="true" />
                <property name="testOnBorrow" value="false" />
                <property name="testOnReturn" value="false" />							
                <property name="poolPreparedStatements" value="false" />
                <property name="maxOpenPreparedStatements" value="-1" />-->
            </dataSource>  
        </environment>  
    </environments>  
    <mappers>  
        <!-- 报警信息 -->   
        <mapper resource="AlarmRecordMapper.xml" />
        <!-- 设备信息 -->
        <mapper resource="DeviceInfoMapper.xml" />
        <mapper resource="DeviceTypeMapper.xml" />
        <mapper resource="DeviceOplogMapper.xml" /> 
        <mapper resource="ClientInfoMapper.xml" />
        <mapper resource="EquipSvecMapper.xml" />
        <mapper resource="StationMapper.xml" />
        <mapper resource="DeviceInfoExtMapper.xml"/>
        <mapper resource="DeviceInfoLockMapper.xml"/>
        <mapper resource="EquipSecsConstantsMapper.xml"/>
        <mapper resource="EqpFunctionDefineMapper.xml"/>
        <mapper resource="EqpFunctionMapper.xml"/>
        <mapper resource="EqpFunctionStepMapper.xml"/>
        <mapper resource="UnitFormulaMapper.xml"/>
        <!-- Monitor信息 -->
        <mapper resource="DeviceRealtimeParaMapper.xml" />
        <!-- Recipe信息 -->
        <mapper resource="RecipeMapper.xml" />  
        <mapper resource="RecipeParaMapper.xml" />  
        <mapper resource="RecipeTemplateMapper.xml" />
        <mapper resource="RecipeOperationLogMapper.xml" />
        <mapper resource="AttachMapper.xml" /> 
        <mapper resource="RecipeNameMappingMapper.xml" />
        <!-- System信息 -->    
        <mapper resource="SysOfficeMapper.xml" />      
        <mapper resource="SysUserMapper.xml" />        
        <mapper resource="SysDictMapper.xml" />         
    </mappers>  
</configuration> 

